main {
    margin-top: 155px;
}

h2 {
    text-transform: uppercase;
    border-bottom: 1px solid rgb(129, 5, 5);
    font-weight: bold;
}

section > p {
    text-align: justify;
    width: 1000px;
    margin: 20px auto 0 auto;
}

figure{
    margin: 30px;
    padding: 30px;
    text-align: center;
    background-color: rgb(233, 48, 48);
    border: 1px solid lightgray;
    margin-top: 50px; /* distância do topo da página até o início da imagem*/
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
figcaption{
    margin-top: 10px;
    color: white;
}
figure img{
    width: 100%
}